/**
 * Galleries
 */
.foldergallery_figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.foldergallery figure {
    display: table;
    margin: 0.5em;
}
.foldergallery figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
}
.foldergallery .foldergallery_folder a {
    border: none;
}
