/**
 * Galleries
 */
.foldergallery {
    text-align: center;
}
.foldergallery_locator {
    text-align: left;
}
.foldergallery_folder, .foldergallery_image {
    display: inline-block;
    margin: 1em;
}
.foldergallery_image img {
    max-height: 64px;
}

/**
 * Back-end
 */
.foldergallery_logo {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}
.foldergallery_license {
    text-align: justify;
}
